:root {
  --text-highlight-color: #F26569;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

h1, h2 {
  font-weight: bold;
}

h1 {
  line-height: 150%;
  font-size: 3rem;
}

.highlight {
  color: var(--text-highlight-color);
}

.home-fav {
  height: 350px;
  background-size: cover;
  background-position: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #FFFEFE;
}

a {
  text-decoration: none;
}

.bg-75 {
  background-color: rgba(0, 0, 0, .75);
}