:root {
  --text-highlight-color: #F26569;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

h1, h2 {
  font-weight: bold;
}

h1 {
  line-height: 150%;
  font-size: 3rem;
}

.highlight {
  color: var(--text-highlight-color);
}

a {
  text-decoration: none;
}