@model SushiPopG5.Models.Producto

@{
    ViewData["Title"] = "Create";
}

<div class="row justify-content-center">
    <div class="col-8">
        <h1 class="text-center">Productos</h1>
        <hr/>
        <form asp-action="Create" class="container">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row justify-content-start p-3">
                <div class="col-6 text-center">
                    <h4>
                        <label asp-for="Nombre" class="control-label"></label>
                    </h4>
                </div>
                <div class="col-6">
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row justify-content-start p-3">
                <div class="col-6 text-center">
                    <h4>
                        <label asp-for="Descripcion" class="control-label"></label>
                    </h4>
                </div>
                <div class="col-6">
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row justify-content-start p-3">
                <div class="col-6 text-center">
                    <h4>
                        <label asp-for="Precio" class="control-label"></label>
                    </h4>
                </div>
                <div class="col-6">
                    <input asp-for="Precio" class="form-control" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group row justify-content-start p-3">
                <div class="col-6 text-center">
                    <h4>
                        <label asp-for="Costo" class="control-label"></label>
                    </h4>
                </div>
                <div class="col-6">
                    <input asp-for="Costo" class="form-control" />
                    <span asp-validation-for="Costo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row justify-content-start p-3">
                <div class="col-6 text-center">
                    <h4>
                        <label asp-for="Foto" class="control-label"></label>
                    </h4>
                </div>
                <div class="col-6">
                    <input asp-for="Foto" class="form-control" />
                    <span asp-validation-for="Foto" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row justify-content-start p-3">
                <div class="col-6 text-center">
                    <h4>
                        <label asp-for="Stock" class="control-label"></label>
                    </h4>
                </div>
                <div class="col-6">
                    <input asp-for="Stock" class="form-control" />
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row justify-content-start p-3">
                <div class="col-6 text-center">
                    <h4>
                        <label asp-for="Categoria" class="control-label"></label>
                    </h4>
                </div>
                <div class="col-6">
                    <select asp-for="CategoriaId" class="form-control form-select text-center">
                        @if(ViewData["CATEGORIAS"] != null) {
                            @foreach (var item in (List<Categoria>)ViewData["CATEGORIAS"])
                            {
                                <option value="@item.Id">@item.Nombre</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="Categoria" class="text-danger"></span>
                    <div class="row justify-content-around p-3">
                        <div class="col-3 p-3">
                            <a asp-action="Index" asp-controller="Home" class="btn btn-danger">Borrar</a>
                        </div>
                        <div class="col-3 p-3">
                            <input type="submit" value="Create" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
