@model SushiPopG5.Models.Categoria

@{
    ViewData["Title"] = "Edit";
}


<div class="row justify-content-center">
    <div class="col-8">
        <h1 class="text-center">Edit</h1>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group row justify-content-start p-3">
                <div class="col-6 text-center">
                    <h4>
                        <label asp-for="Nombre" class="control-label"></label>
                    </h4>
                </div>
                <div class="col-6">
                    <input asp-for="Nombre" class="form-control"/>
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row justify-content-start p-3 ">
                <div class="col-6 text-center">
                    <h4>
                        <label asp-for="Descripcion" class="control-label"></label>
                    </h4>
                </div>
                <div class="col-6">
                    <input asp-for="Descripcion" class="form-control"/>
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                    <div class="row justify-content-around p-3">
                        <div class="col-3 p-3">
                            <a asp-action="Index" asp-controller="Categorias" class="btn btn-danger">Borrar</a>
                        </div>
                        <div class="col-3 p-3">
                            <input type="submit" value="Save" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
