<form method="post" action="/Pedidos/Consulta">
    <div class="row justify-content-center">
        <div class="col-4 text-center pb-5">
            <h3 >Seguir Pedido</h3>
        </div>
    </div>
    <div class="row justify-content-center pt-3">
        <h4 class="col-4 text-center">Número de Pedido: </h4>
        <input class="col-4" type="text" name="numeroPedido" />
    </div>
    <div class="row justify-content-center pt-4">
        <div class="col-4 text-center"> </div>
        <input type="submit" class="col-4 btn bg-primary text-center text-white" value="Consultar estado" />
    </div>
</form>

