@{
ViewData["Title"] = "Legales";
}

<div class="contenedor-legales">

    <h1>Legales</h1>

    <p class="text-center">
        Center aligned text on all viewport sizes.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec libero in nunc faucibus rhoncus a sed libero. Suspendisse a ligula et eros rhoncus luctus. Nulla ac turpis at nulla venenatis varius. Duis pharetra rutrum lacus non volutpat. Vestibulum finibus commodo est eget auctor. Aliquam erat volutpat. Proin mattis fringilla massa sit amet mollis. Mauris non volutpat ligula. Cras dapibus tincidunt velit, sit amet sagittis lectus facilisis ut. Donec commodo mollis porta. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent et varius odio, vel tristique leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis pharetra, tellus sed semper lacinia, urna turpis suscipit mi, quis sagittis orci nisl vel velit. In tristique urna id orci iaculis, sit amet molestie dolor convallis.

        Maecenas lacinia egestas feugiat. Duis vel augue volutpat, auctor nulla quis, auctor libero. Ut ac finibus erat. Quisque est nulla, iaculis sodales enim vitae, mattis semper ipsum. Donec finibus molestie nisi, pellentesque pulvinar lorem tristique a. Sed gravida ut ante eget elementum. Donec id enim pulvinar, placerat odio et, pretium turpis. Etiam dapibus, neque et tristique efficitur, leo quam elementum odio, nec auctor nibh quam ac erat.

        Etiam congue purus iaculis risus mollis tincidunt. Cras sit amet tellus sit amet tellus finibus viverra eget ege  t felis. Vivamus et mi ut justo feugiat placerat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris erat leo, elementum id nibh at, dictum euismod nulla. Fusce blandit, mauris sed eleifend venenatis, arcu diam pretium dolor, nec luctus magna felis in ex. Duis dignissim mi in tincidunt sodales. Donec congue feugiat magna in luctus. Maecenas ut tristique orci. Proin convallis cursus sollicitudin. Sed mollis gravida posuere. Proin eget vestibulum nunc, ac tincidunt ipsum.

    </p>
</div>