@model SushiPopG5.Models.Contacto

@{
    ViewData["Title"] = "Create";
}

<div class="row justify-content-center">
    <div class="col-8">
        <h2 class="text-center">Contacto</h2>
        <hr />

        @if (ViewBag.EsEmpleado)
        {
            <p class="text-center">Los empleados no pueden enviar mensajes.</p>
        }
        else
        {
            <form asp-action="Create" class="container">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row justify-content-start p-3">
                    <div class="col-6 text-center">
                        <h4>
                            <label asp-for="NombreCompleto" class="control-label"></label>
                        </h4>
                    </div>
                    <div class="col-6">
                        <input asp-for="NombreCompleto" class="form-control" value="@ViewBag.NombreUsuario" />
                        <span asp-validation-for="NombreCompleto" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row justify-content-start p-3">
                    <div class="col-6 text-center">
                        <h4>
                            <label asp-for="Email" class="control-label"></label>
                        </h4>
                    </div>
                    <div class="col-6">
                        <input asp-for="Email" class="form-control" value="@ViewBag.EmailUsuario" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row justify-content-start p-3">
                    <div class="col-6 text-center">
                        <h4>
                            <label asp-for="Telefono" class="control-label"></label>
                        </h4>
                    </div>
                    <div class="col-6">
                        <input asp-for="Telefono" class="form-control" value="@ViewBag.NumeroTelefonoUsuario" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row justify-content-start p-3">
                    <div class="col-6 text-center">
                        <h4>
                            <label asp-for="Mensaje" class="control-label"></label>
                        </h4>
                    </div>
                    <div class="col-6">
                        <textarea asp-for="Mensaje" class="form-control w-100 pb-5 col-8"></textarea>
                        <span asp-validation-for="Mensaje" class="text-danger"></span>
                        <div class="row justify-content-around p-3">
                            <div class="col-3 p-3">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                            <div class="col-3 p-3">
                                <a asp-action="Index" asp-controller="Home" class="btn btn-danger">Borrar</a>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        }
        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }
    </div>
</div>